.priceList-part {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/bg.png");
    background-size: contain;

    .priceList-Header{
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 100px;
        }
        h3 {
            font-size: 80px;
            font-weight: 300;
            letter-spacing: 10px;
        }
    }

    .priceList {
        width: 80%;
        padding-bottom: 80px;

        .price {
            margin-top: 40px;

            h3 {
                font-weight: 300;
                font-size: 42px;
                margin: 0;
                margin-bottom: 10px;
            }

            .priceRow {
                display: flex;
                justify-content: flex-end;
                
                .separator{
                    flex-grow:1;
                    border-bottom:dotted 2px black;
                    margin-bottom: 18px;
                  }
            }
        }
    }

    .line {
        border-top: 1px solid grey;
        width: 60%;
        padding-bottom: 80px;
    }
}


/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    .priceList-part {
        padding-top: 0px;
        .priceList-Header{
            flex-direction: column;
            img {
               width: 80px;
            }
            h3 {
              
            }
        }
    
        .priceList {
           
    
            .price {
               
    
                h3 {
                    font-size: 22px;
                }
    
                .priceRow {
                    align-items: end;
                    
                    .separator{
                        visibility: hidden;    
                    }
                }
            }
        }
    
        .line {
        
        }
    }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    
}