.headerWrapper {
    //border: 1px solid red;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    img:nth-child(1) {
        width: 200px;
    }

    nav {

        ul {
            display: flex;
            justify-content: space-between;
            width: 800px;
            //border: 1px solid blue;
            padding: 0;
            li {
                display: inline-block;
                
                a {
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 24px;
                }

                a:hover {
                    text-shadow: 2px 2px 2px black;
                    color: lightgray;
                    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                }
            }
        }
        
        
    }

    svg {
        color: whitesmoke;
        font-size: 50px;
        display: none;
    }

    .responsive {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        left: 0;
        background: white;
        top: 55px;
        justify-content: space-evenly;
        opacity: 0.9;
    }

    .show {
        display: flex;
    }
}


/* Extra big screen devices (1200px and above) */
@media only screen and (max-width: 1200px) {
    .headerWrapper nav ul {
        width: 600px;
    }

    .headerWrapper nav ul li a {
        font-size: 20px;
      }
}


/* Big screen devices (889px and above) */
@media only screen and (max-width: 889px) {
    .headerWrapper {
        img:nth-child(1) {
            width: 120px;
        }

        nav {
            ul {
                display: none;
                width: 100%;
                li {
                    padding: 20px;

                    a {
                        color: grey;
                    }
                }
            }
        }

        svg {
            display: block;
        }
    }

    .responsive {
        display: flex;
    }
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    .headerWrapper {
        padding-bottom: 15px;
    }
    
    .headerWrapper img:nth-child(1) {
        width: 100px; 
    }
    
    .headerWrapper svg {
        font-size: 35px;
    }

    .headerWrapper .responsive {
        top: 35px;
    }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
}

