.home-bg {
    min-width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.7)),
    url("../../assets/homeBg.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    .header-part {
        width: 100%;
        position: fixed;
        top: 0;
        padding-top: 50px;
        z-index: 999;
    }

    .active {
        background-color: rgba(0, 0, 0, 0.7);
        transition: background-color 0.3s ease;
    }

    .hidden {
        margin-top: -200px;
        transition: margin-top 0.3s ease-out;
    }

    .mainContentHome {
        display: flex;
        flex-direction: column;
        align-items: center;

        #mainLogo {
            width: 700px;
            margin-top: 100px;
        }
    
        .box {
            margin-top: 100px;
        }
        
        .box span {
            width: 20px;
            height: 20px;
          display: block;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;
        }
        
        .box span:nth-child(2) {
            animation-delay: -0.2s;
        }
        
        .box span:nth-child(3) {
            animation-delay: -0.4s;
        }
    }
    
    @keyframes animate {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
            transform: rotate(45deg) translate(10px, 10px);
        }
        100% {
            opacity: 0;
        }
    }
}


/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    .home-bg {
        .header-part {
        }

        .mainContentHome {
        #mainLogo {
            width: 350px;
        }
        }
    }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    
}