.about-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    background: url("../../assets/bg.png");
    background-size: contain;
   
    .aboutHeading {
        width: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 80px;

        .line {
            border-bottom: 2px solid black;
            width: 30px;
        }

        h3 {
            font-size: 22px;
            font-weight: 300;
        }
    }

    .model {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        z-index: 999;
        transition: opacity .4s ease, visibility .4s ease, transform .8s easy-in-out;
    
        img {
            width: auto;
            max-width: 100%;
            max-height: 80vh;
            display: block;
            padding: 20px 0 20px;
            margin: 0 auto;
        }
    }

    .model.open {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                position: absolute;
                top: 20px;
                right: 20px;
                color: white;
                font-size: 50px;
            }

            svg:hover {
                color: black;
            }
    }

    .small-gallery {
        margin-top: 80px;
        width: 85%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
            width: 400px;
            box-shadow: 4px 4px 10px;
            margin-bottom: 40px;
        }

        img:hover {
            opacity: 0.5;
            transition: opacity .3s ease-in-out;
            cursor: pointer;
        }
    }

    .about-text-content {
        width: 85%;
        margin-top: 40px;

        p {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 3px;
            text-align: center;
        }
    }

    .our-barber {
        margin-top: 100px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        img {
            content: url("../../assets/paint.png");
            width: 80%;
        }

    }

    .video {
        margin-top: 100px;
        width: 80%;
        height: 600px;
        
        iframe {
            width: 100%;
            height: 100%;
            
        }
    }
}

@media only screen and (max-width: 595px) {
    .about-part {
        
       
        .aboutHeading {
            
    
            .line {
            }
    
            h3 {
            }
        }
    
        .small-gallery {
            img {
                width: 350px;
            }
        }
    
        .about-text-content {
            
    
            p {
                
            }
        }
    
        .our-barber {
           margin-top: 40px;
            flex-direction: column;
        }
        .video {
            height: 27vh;
        }
    }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {}
 
/* Big screen devices (889px and above) */
@media only screen and (max-width: 889px) {
    .about-part .small-gallery {
        margin-top: 80px;
        width: 85%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      .video {
        margin-top: 20px;
        height: 400px;
    }

    .about-part .our-barber img {
        content: url("../../assets/paintRespon.png");
    }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (max-width: 1200px) {
    
}